<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New comment</title>
</head>
<body>
    <h1>Make a new comment</h1>
    <form action="/comments" method="post">
        <label for="username">Enter username:</label>
        <input name="username" type="text" id="username" placeholder="username">

        <br>
        <br>

        <label for="comment">Comment text</label>
        <br>
        <textarea name="comment" id="comment" cols="20" rows="5"></textarea>

        <button type="submit">submit</button>
    </form>

    <a href="/comments">View all comments</a>
</body>
</html>